* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    color: rgb(0, 0, 0);
    width: 100%;
    display: block;
    background-image: url(imagens/logoben.svg);
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
    backdrop-filter: blur(15px);
}
header {
    background-color: rgb(18, 184, 26);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header a #icon{
    width: 45px;
    height: 45px;
}
header nav{
    display: flex;
    gap: 15px;
    width: 90%;
}
header nav ul{
    display: flex;
    list-style-type: none;
}

.dropdown {
    display: inline-block;
    padding: 15px;
}
.dropdown:hover{
    background-color: blueviolet;
}
.dropdown-menu{
    display: none;
    position: absolute;
    background-color: rgb(40, 54, 26);  
    transform: translateX(-15px);
    top: 8%;
    border-radius: 25px 25px 25px 25px;
}
.dropdown-menu a{
    padding: 15px;
}
.dropdown:hover .dropdown-menu{
    display: flex;
    flex-direction: column;
}

.barraPes{
    display: flex;
    position: relative;
    left: 16%;
    width: 30%;
}
.barraPes input{
    font-size: medium;
    padding: 5px;
    border: none;
    border-radius: 30px 0px 0px 30px;
    background-color: rgba(10, 148, 51, 0.322);
    width: 85%;
}
.barraPes button {
    background-color: rgb(12, 158, 56);
    border-radius: 0px 30px 30px 0px;
    border: none;
    padding: 10px;
    width: 15%;
}
.barraPes button:hover{
    cursor: pointer;
    background-color: rgb(10, 148, 51);
}
.barraPes button:active{
    background-color: rgb(21, 223, 81);
}
.pesquisa{
    display: none;
    flex-direction: column;
    position: absolute;
    background-color: rgb(167, 167, 167);
    width: 100%;
    top: 100%;
    padding: 5px;
    border-radius: 0px 0px 25px 25px;
}
.pesquisa a{
    padding-block: 10px;
    background-color: rgb(197, 197, 197);
    width: 100%;
    height: 50px;
    text-align: center;
    margin-block-end: 3px;
    border-radius: 25px 25px 25px 25px;
    font-size: medium;
}
.pesquisa p{
    padding-block: 10px;
    background-color: rgb(124, 124, 124);
    width: 100%;
    height: 50px;
    text-align: center;
    margin-block-end: 3px;
    border-radius: 25px 25px 25px 25px;
    font-size: medium;
}
#icon{
    width: 30px;
    height: 30px;
    margin: 5px;
}
.trilho{
    margin: 5px;
    background-color: rgb(94, 224, 153);
    border-radius: 25px 25px 25px 25px;
    width: 6%;
    cursor: pointer;
}

.trilho .indicador {
    transform: translateX(60px);
}

main {
    background-color: rgba(240, 248, 255, 0.527);
    border-radius: 25px 25px 25px 25px;
    margin-block: 10px;
    margin-inline: 60px;
    height: 110vh;
    padding: 15px;

}
footer{
    bottom: 0;
    padding: 10px;
    background-color: rgb(165, 165, 165);
    width: 100%;
}

.modoCE #icon{
    transform: translateX(0%);
}